<ion-view title="PTSD Toolkit">
    <ion-content class="padding" id="mainWindowContent">

        <section class="card">
            <h2>Hope Begins With You</h2>
            <h3>Learning through practice</h3>
            <p>There is much conflicting information online on PTSD. Wading through it can be confusing. To simplify this process, we present the process of helping your military patients using the PTSD Toolkit for Nurses. Using this site, you will gain valuable insight into the nature of PTSD, have a step-by-step process to help diagnose veterans with PTSD, and get information you can send, print, or share with others.</p>
            <p>We encourage you to use the Toolkit throughout your everyday practice, but especially to effectively deliver care to military members and veterans who remain at high risk for PTSD. Use our new online assessment game to test your knowledge and application of the PTSD Toolkit and other information provided on this site.</p>
            <button>What is PTSD?</button>
            <button>Simulation</button>
        </section>

        <section class="card">
            <h2>About Us</h2>
            <p>Meet a few of the nurses, software developers, designers and students involved in creating the PTSD Toolkit.</p>
            <button class="aboutTeam">Meet the Team</button>
        </section>

    </ion-content>
</ion-view>
